[mysqld]
server-id = 3306
log-bin = mysql-bin
log-slave-updates = 1


innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_buffer_pool_size = 2G
innodb_log_file_size = 128M

auto_increment_increment = 2
auto_increment_offset = 2

skip-host-cache
skip-name-resolve

#write set

#gtid
#gtid_mode=on
#enforce-gtid-consistency=on


#debug
#debug=d,info,error,query:o,/Users/mengwenchao/Documents/db/mysql/maria/mysqld.trace
#debug=d:t:i:o,/Users/mengwenchao/Documents/db/mysql/maria/mysqld.trace

skip_ssl

#slow log
#slow_query_log = 1
#slow_query_log_file=/Users/mengwenchao/Documents/db/mysql/maria/mysql-slow.log
#long_query_time = 2


max_connections=10000
#thread pool
thread_handling=pool-of-threads
thread_pool_size=8
thread_pool_dedicated_listener=1
